
<div class="flex flex-col ml-4 ">
  <h2 class="text-3xl font-bold mt-10"> Crear un proyecto </h2>

  <%= form_with model: @project do |f| %>
    <div class="field mb-2">
      <%= f.label :title,"Título" %><br />
      <%= f.text_field :title, autofocus: true, class:"rounded" %>
    </div>

    <div class="field mb-2">
      <%= f.label :description,"Descripción" %><br />
      <%= f.text_area :description, class:"rounded" %>
    </div>

    <div class="field mb-2">
      <%= f.label :duration, "Duración (semanas)" %><br />
      <%= f.text_field :duration, class: "rounded" %>
    </div>
    
    
    
    

    <div class="field mb-2">
      <%= f.label :postulations_due_date, "Fecha Fin de Postulaciones" %><br />
      <%= f.datetime_field :postulations_due_date, class:"rounded" %>
    </div>

    <div class="field mb-2">
      <%= f.label :is_payed, "¿Pagado?" %><br />
      <%= f.check_box :is_payed, class:"rounded" %>
    </div>

    <div class="field mb-2">
      <%= f.label :amount, "Cantidad" %><br />
      <%= f.text_field :amount, class:"rounded" %>
    </div>

    <div class="field mb-2">
      <%= f.label :vacancies, "Vacantes" %><br />
      <%= f.number_field :vacancies, class:"rounded" %>
    </div>

    <div class="field">
      <%= f.label :project_type, "Tipo de Proyecto" %><br />
      <%= f.collection_select(:type, Project.project_types.keys, :to_s, :humanize, prompt: true, class:"rounded")%>
    </div>

    <div class="field">
      <%= f.label :status, "Estado del proyecto" %><br />
      <%= f.select :status, Project.statuses.keys, {}, class: "rounded" %>
    </div>

    <div class="actions">
      <%= f.submit "Publicar", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4 mb-1" %>
      <%= link_to "Volver", projects_path, class:"ml-2" %>
    </div>
  <% end %>

</div>