<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
        width: 50%;
        border: 1px solid #ccc;
        border-radius: 10px; /* Adjust the value to control the roundness of the border */
        padding: 16px;
        margin-bottom: 20px;
        background-color: #fff;
	}
 </style>




<div class="ml-4 mt-4">
    <h1> Projects </h1>
        
    <% if can? :create, Project %>
        <%= button_to "Crear Proyecto", new_project_path, method: :get, class:"bg-green-300 rounded p-1.5 text-white mb-4" %>
    <% end %>

    <%= search_form_for @q, url: projects_path do |form| %>
        <%= form.search_field :title_or_description_or_user_name_or_user_last_name_cont, placeholder: "Buscar..." %>
        <%= form.submit "Buscar" %>
    <% end %>
    <% if @projects.nil? || @projects.empty?%>
        <div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
            <span style="font-size: 48px; margin-right: 10px;">🔍</span>
            <span>Ningun proyecto ha sido creado aún, ¿Por qué no creas uno tú?</span>

            <div class="flex justify-center bottom-0">
                <img src="/pikachu-intro.png" alt="Pikachu " width="130" height="130">
            </div>

        </div>
    <% else %>
        <% @projects.each do |project| %>


            <div class="card">    
                    <div> <h1 style="font-size: 28px;"> <%= project.title %>  </h1> </div>

                    <div> <p> <%= (project.description).truncate(50)%>  </p> </div>
                    <br>

                    <%if @current_user.role != 'teacher'%>
                        <div> Profesor: <%= project.teacherName %> </div>
                    <%end%>
                    <div> Duración: <%= project.duration %> </div>
                    <div> Tipo: <%= project.project_type %> </div>

                    <div> Fecha de inicio: <%= l project.start_date, format: :default%></div>

                    <div> Estado: <%= project.show_state %></div>



                    <% if project.is_payed %>
                        <div> Sueldo: <%= project.amount %> </div>
                    <% else %>
                        <div> Sueldo: Sin Sueldo </div>
                    <% end %>

                    <div style="display: flex; gap: 10px;">
                    <% if can? :view, Project %>
                        <%= button_to "Ver", project_path(project), method: :get, class: "bg-slate-100 rounded p-1.5 text-slate-400"%>
                    <% end %>
                    
                    <% if can? :update, Project %>
                        <% if project.status == "open" %>
                            <%= button_to "Cerrar Proyecto", close_project_path(project), method: :patch, class: "bg-red-500 rounded p-1.5 text-white" %>
                        <% else %>
                            <%= button_to "Abrir Proyecto", open_project_path(project), method: :patch, class: "bg-green-300 rounded p-1.5 text-white" %>
                        <% end %>
                        <%= button_to "Editar", edit_project_path(project), method: :get, class: "bg-blue-300 rounded p-1.5 text-white" %>
                    <% end %>

                    <% if can? :destroy, Project %>
                        <%= button_to "Eliminar", project_path(project), method: :delete, class: "bg-red-500 rounded p-1.5 text-white" %>
                    <% end %>

                    <% if can? :create, Inscription%>
                        <% if project.status == "open"%>
                            <%= button_to "Inscribirse", project_inscriptions_path(project_id: project.id), method: :post, class: "bg-green-300 rounded p-1.5 text-white" %>
                        <%end%>
                    <% end %>
                    </div>
            </div>

        <% end %>
        

    <% end %>

</div>