<div class="mb-4">
    <div> Título: <%= @project.title %> </div>
    <div> Descripción: <%= @project.description %> </div>
    <div> Duración: <%= @project.duration %> </div>
    <div> Fecha límite de postulaciones: <%= @project.postulations_due_date %> </div>
    <div> Vacantes: <%= @project.vacancies %> </div>

    <%= link_to "Volver", projects_path, class: "bg-slate-100 rounded p-1.5 text-slate-400 mt-2" %>
</div>

<h1>aaaaaaaaaaaaaa</h1>
<% @project.inscriptions.each do |inscription| %>
  <%= render partial: 'inscription', locals: { inscription: inscription } %>
<% end %>