<h1 class="text-3xl font-bold underline flex justify-center mt-4 mb-4">Proyectos Inscritos</h1>

<div style="display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 20px;">
  <% @inscriptions.each do |inscription| %>
    <div class="p-4 bg-white max-w-xl border p-2 mb-2" style="margin-left: 10%;">
      <ul role="list" class="divide-y divide-gray-100">
        <li class="flex justify-between gap-x-6 py-5">
          <div class="flex min-w-0 gap-x-4">
            <div class="min-w-0 flex-auto">
              <p class="mt-1 truncate text-xs leading-5 text-gray-500">
                <span class="font-bold">Proyecto:</span> <%= inscription.project.title %>
              </p>
            </div>
          </div>
          <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
            <p class="text-sm leading-6 text-gray-900">Información de la Inscripción:</p>
            <p class="mt-1 text-xs leading-5 text-gray-500">
              última modificación: <time datetime="2023-01-23T13:23Z"><%= inscription.updated_at %></time>
            </p>
            <p class="mt-1 text-base leading-6 text-gray-500"> <!-- Updated text size to text-base -->
              <span class="font-bold">Estado:</span>
              <span class="<%= inscription.status == 'pending' ? 'text-orange-500' : (inscription.status == 'approved' ? 'text-green-500' : 'text-red-500') %>">
                <%= inscription.status.capitalize %>
              </span>
            </p>
          </div>
        </li>
      </ul>
      <div class="flex justify-between">
        <% if inscription.status == 'pending' %>
          <%= button_to "Cancelar Postulación", inscription_path(inscription), method: :delete, class: "bg-red-500 text-white px-2 py-1 rounded hover:bg-red-600" %>
        <% end %>
        <%= link_to "Ver Proyecto", project_path(inscription.project), class:"bg-blue-500 text-white px-2 py-1 rounded hover:bg-blue-600" %>
      </div>
    </div>
  <% end %>
</div>
