<!-- app/views/users/show.html.erb -->
<h1 class="text-3xl font-bold underline flex justify-center mt-4">
    Perfil
</h1>
<br>
<div class="flex w-1/2">
  <div class="p-4 max-w-xl border p-2">
    <br>

    <h1 class="text-2xl font-semibold mb-2 text-center">Perfil de Usuario</h1>
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Nombre:</label>
        <p><%= @user.name %></p>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Correo Electrónico:</label>
        <p><%= @user.email %></p>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Area:</label>
        <p><%= @area.name %></p>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Rol:</label>
        <% if @user.role == "teacher" %>
          <p>Profesor</p>
        <% elsif @user.role == "student" %>
          <p>Estudiante</p>
        <% end %>
      </div>
      <div class="mb-4">
        <% if @user.role == "teacher" %>
          <label class="block text-gray-700 text-sm font-bold mb-2">Proyectos Creados:</label>
          <ul>
            <% @user.projects.each do |project| %>
              <li class="flex items-center">
                <span class="mr-4">- <%= project.title %></span>
                <%= button_to "Ver Proyecto", project_path(project), class: "px-4 py-1 rounded bg-green-300 text-white mt-4 mr-4" %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <%= button_to "Ir a proyectos inscritos.", postulations_path, method: :get,  class: "px-4 py-1 rounded bg-green-300 text-white mt-4 mr-4" %>
        <% end %>
      </div>

    </div>
  </div>
</div>
