<div class="flex flex-col p-4 bg-gray-100 rounded-md ml-4" data-id=<%= inscription.id%>>

  <p class="mt-1 text-sm leading-5">
    <span class="font-bold text-gray-700">Name:</span>
    <span class="text-gray-500">
      <%= inscription.user.name %> <%= inscription.user.last_name %>
    </span>
    <br>
    <span class="font-bold text-gray-700">Email:</span>
    <span class="text-gray-500">
      <%= inscription.user.email %>
    </span>
    <br>
    <span class="font-bold text-gray-700">Area:</span>
    <span class="text-gray-500">
      <%= inscription.user.area.name %>
    </span>
  </p>

  <p class="mt-1 text-sm leading-5">
    <span class="font-bold text-gray-700">Estado:</span>
    <span class="<%= inscription.status == 'pending' ? 'text-orange-500' : (inscription.status == 'approved' ? 'text-green-500' : 'text-red-500') %>">
      <%= inscription.status.capitalize %>
    </span>
  </p>

  <div class="flex mt-2">
    <%= form_with model: inscription, url: accept_inscription_path(inscription), method: :patch do |f| %>
      <%= f.submit "Aceptar", class: "bg-green-500 hover:bg-green-600 text-white py-1 px-2 rounded-full transition duration-300 ease-in-out mr-2 text-sm" %>
    <% end %>

    <%= form_with model: inscription, url: reject_inscription_path(inscription), method: :patch do |f| %>
      <%= f.submit "Rechazar", class: "bg-red-500 hover:bg-red-600 text-white py-1 px-2 rounded-full transition duration-300 ease-in-out ml-2 text-sm" %>
    <% end %>
  </div>
</div>
